//
// Variables
// ----------------------------------------------------

$color-primary:       #00A191;
$color-secondary:     #04334A;
$color-gray-lightest: #F6F7F8;

// Fonts
$font-family-base: 'Heebo', sans-serif;

// Html
$body-bg: $color-gray-lightest;

// Components
$navbar-main-bg: $color-secondary;
$navbar-header-bg: #03283A;

$header-bg: #fff;